html {
    scroll-behavior: smooth;
    background-color: black;
    text-justify: auto;
}

body {
    width: auto;
}

.navbar-nav :hover {
    background-color: rgb(209, 143, 21);
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 15s infinite alternate;
    animation-timing-function: ease-in;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

.fonnav {
    background-color: rgb(243, 28, 28);
}

.derecha {
    align-items: right;
    text-align: right;
}

.centrar {
    align-items: center;
    align-self: auto;
    text-align: center;
}

.fonnav a {
    color: white;
}

.float-right {
    scroll-behavior: smooth;
}

form label {
    color: white;
}

.imagen1 {
    position: absolute;
    z-index: 1;
}

.imagen2 {
    position: absolute;
    z-index: 2;
}

.rent {
    position: relative;
    z-index: 4;
}

.buy {
    position: relative;
    z-index: 5;
}

.labelade {
    position: absolute;
    z-index: 6;
    left: 580px;
}

table a {
    margin: 10px 10 px 10px 10 px;
}

.mars {
    margin: 0 auto;
}

p a {
    color: orange;
}

.bordeinf {
    border-bottom: 1px solid rgb(97, 90, 90);
}

footer {
    border-top: 1px solid rgb(100, 95, 89);
    background-color: aliceblue;
}

.colbu {
    color: black;
    background-color: orange;
}

.derecha a {
    color: orange;
}

img.derecha {
    float: right;
}

.cur span {
    font-style: italic;
}

.container-b {
    border-style: solid;
    border-radius: 20px;
}

.labelade2 {
    position: absolute;
    z-index: 7;
    left: 955px;
}